


.bugo{
  text-align: center;
  background-color: #8e3e3e;
  justify-content: center;
  color: #000000;
  
}

body{
  background-color: rgb(61, 61, 61);
}


.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #526e37;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(243, 30, 30, 0.2);
  z-index: 1
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #000000}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


container{
  
}




